<table id="trial-balance-datatable" class="table table-sm table-striped" data-source="<%= trial_balance_entries_path(format: :json) %>">
  <thead>
    <tr class="d-hidden">
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Account</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Purpose</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Contact</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Date</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Reference Number</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Company</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Debit</div>
      </th>
      <th>
        <div class="text-nowrap d-hidden mh-0 form-control">Credit</div>
      </th>
    </tr>
    <tr>
      <th>
        <span class="position-absolute d-hidden">Account</span>
        <input class="form-control" type="text" placeholder="Account">
      </th>
      <th>
        <span class="position-absolute d-hidden">Purpose</span>
        <input class="form-control" type="text" placeholder="Purpose">
      </th>
      <th>
        <span class="position-absolute d-hidden">Contact</span>
        <input class="form-control" type="text" placeholder="Contact">
      </th>
      <th>
        <span class="position-absolute d-hidden">Date</span>
        <input class="form-control" type="text" placeholder="Date">
      </th>
      <th>
        <span class="position-absolute d-hidden">Reference Number</span>
        <input class="form-control" type="text" placeholder="Reference Number">
      </th>
      <th>
        <span class="position-absolute d-hidden">Company</span>
        <input class="form-control" type="text" placeholder="Company">
      </th>
      <th>
        <span class="position-absolute d-hidden">Debit</span>
        <input class="form-control" type="text" placeholder="Debit">
      </th>
      <th>
        <span class="position-absolute d-hidden">Credit</span>
        <input class="form-control" type="text" placeholder="Credit">
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tfoot>
</table>
