<div id="vue-tranzactions" class="container-fluid">
  <%= form_with model: @tranzaction do |form| %>
    <div class="row">
      <%= render partial: 'form' %>
    </div>
    <div class="row">
      <template v-for="(entry, idx) in distributionEntries">
        <%= render partial: '/entries/directed_row' %>
      </template>
    </div>
    <div class="row">
      <template v-for="(payment, idx) in payments">
        <%= render partial: '/payments/form' %>
      </template>
    </div>
    <button type="button" class="btn btn-primary" @click="submitForm">Save</button>
  <% end %>
</div>
