<div class="row">
  <%= form_with model: @contact do |form| %>
    <%= render partial: 'form', locals: { form: form } %>
    <div class="row my-2">
      <div class="col-auto">
        <%= form.submit('Save', class: 'btn btn-primary') %>
      </div>
    </div>
  <% end %>
</div>
