<div v-if="payment.payment_type !== 'receipt'" class="row py-2">
  <div class="col-auto">
    <label :for="`payment-${idx}-type`" class="form-input">Payment Type</label>
    <select class="form-select" v-model="payment.payment_type" :id="`payment-${idx}-type`">
      <% Payment.allowed_types(params[:purpose]).each do |type| %>
        <option value="<%= type %>"><%= type.titleize %></option>
      <% end %>
    </select>
  </div>
</div>
<div class="row py-2">
  <div class="col">
    <label :for="`payment-${idx}-account-id`" class="form-input">Account ID</label>
    <input
      :id="`payment-${idx}-account-id`"
      class="form-control payment-input"
      type="text"
      :value="getPaymentAccount(payment)"
      @blur="setPaymentAccount(payment)"
    >
  </div>
  <div class="col">
    <label :for="`payment-${idx}-reference-number`" class="form-input">
      {{ payment.payment_type === 'receipt' ? 'Receipt' : 'Payment' }} Number
    </label>
    <input
      :id="`payment-${idx}-reference-number`"
      class="form-control payment-input"
      type="text"
      :value="(paymentTranzaction(payment)).reference_number"
      @blur="setNumber(paymentTranzaction(payment))"
    >
  </div>
  <div class="col">
    <label :for="`payment-${idx}-date`" class="form-input">Date</label>
    <input
      :id="`payment-${idx}-date`"
      class="form-control payment-input"
      type="text"
      :value="getDate(paymentTranzaction(payment))"
      @blur="setDate(paymentTranzaction(payment))"
    >
  </div>
  <div class="col">
    <label :for="`payment-${idx}-amount`" class="form-input">Amount</label>
    <input
      :id="`payment-${idx}-amount`"
      class="form-control payment-input"
      type="text"
      name="amount"
      :value="getPaymentAmount(payment)"
      @blur="setPaymentAmount(payment)"
    >
  </div>
</div>
<div v-if="payment.payment_type === 'check'" class="row py-2">
  <div class="col">
    <label :for="`payment-${idx}-addressee`" class="form-input">Addressee</label>
    <input
      :id="`payment-${idx}-addressee`"
      class="form-control payment-input"
      type="text"
      v-model="payment.addressee"
    >
  </div>
  <div class="col">
    <label :for="`payment-${idx}-memo`" class="form-input">Memo</label>
    <input
      :id="`payment-${idx}-memo`"
      class="form-control payment-input"
      type="text"
      v-model="payment.memo"
    >
  </div>
</div>
