<div class="row py-2">
  <div class="col">
    <label for="batch-name" class="form-input">Name</label>
    <input
      type="text"
      name="name"
      id="batch-name"
      class="form-control"
      v-model="batch.name"
    >
  </div>
  <div class="col">
    <label for="batch-comment" class="form-input">Comment</label>
    <input
      type="text"
      name="comment"
      id="batch-comment"
      class="form-control"
      v-model="batch.comment"
    >
  </div>
</div>
