<div id="vue-batches" class="container">
  <%= form_with model: @batch do |batch| %>
    <template v-for="(entry, idx) in entries">
      <%= render partial: '/entries/form_row' %>
    </template>
  <% end %>
</div>