<div id="vue-batches" class="container-fluid">
  <%= form_with model: @batch do |batch| %>
    <template v-for="(entry, idx) in entries">
      <%= render partial: '/entries/form_row' %>
    </template>
    <button type="button" class="btn btn-primary" @click="submitForm">Save</button>
  <% end %>
</div>
<datalist id="company-datalist">
  <% @companies.each do |company| %>
    <option value="<%= company.id %>"><%= company.code %></option>
  <% end %>
</datalist>
