<div id="vue-batches" class="container-fluid">
  <%= form_with(model: @batch, id: 'edit-gl-batch') do |form| %>
    <div id="gl-entries">
      <template v-for="(entry, idx) in entries">
        <%= render partial: '/entries/form_row' %>
      </template>
    </div>
    <button type="button" class="btn btn-primary" @click="submitForm">Save</button>
  <% end %>
  <datalist id="company-datalist">
    <template v-for="company in companies">
      <option>{{company.code}}</option>
    </template>
  </datalist>
</div>
