<div id="vue-batches-unpaid">
  <%= form_with model: @batch do |form| %>
    <%= render partial: '/payments/form' %>
    <table class="table my-3">
      <thead>
        <tr>
          <th>Reference Number</th>
          <th>Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="tranzaction in unmarkedTranzactions">
          <td class="col">
            {{ tranzaction.reference_number }}
          </td>
          <td class="col">
            {{ tranzaction.date }}
          </td>
          <td class="col-auto">
            <input type="checkbox" class="form-check-input" @change="toggleTranzaction(tranzaction)">
          </td>
        </tr>
      </tbody>
    </table>
    <%= button_tag(
      'Create',
      type: 'button',
      class: 'btn btn-primary',
      '@click': 'submitForm()'
    ) %>
  <% end %>
</div>
