.hover
  text-decoration: none
  color: var(--bs-body-color)
  .row
    &:hover
      cursor: pointer
      background-color: lighten(white, 5%) !important

.mh-tranzactions
  max-height: calc(40px * 4)

table.table.table-sm
  th input.form-control
    width: 97%

.d-hidden
  visibility: hidden

.mh-0
  max-height: 0 !important
