<div class="row">
  <div class="col">
    <%= form.number_field(
      :id,
      class: 'form-control'
    ) %>
  </div>
  <div class="col">
    <%= form.text_field(
      :name,
      class: 'form-control'
    ) %>
  </div>
  <div class="col">
    <%= form.select(
      :account_type,
      Account.account_types.map{|type, id| [type.titleize, type]},
      {},
      {
        class: 'form-select'
      }
    ) %>
  </div>
</div>